VITE_FIREBASE_API_KEY=AIzaSyDTxLLvE-9lkbsAc9ycZGIRNjqMG3i0uH8
VITE_FIREBASE_AUTH_DOMAIN=himanshus-movie-shelf.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=himanshus-movie-shelf
VITE_FIREBASE_STORAGE_BUCKET=himanshus-movie-shelf.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=408255065099
VITE_FIREBASE_APP_ID=1:408255065099:web:d39a4f7b51b87231526b0e
VITE_ADMIN_EMAIL=himanshurao07861@gmail.com